@import url('https://fonts.googleapis.com/css2?family=Pushster&family=Ubuntu:ital,wght@0,400;1,700&display=swap');
 :root {
    --primary-color: #f5e050;
    --dark-blue: #115697;
    --white: #F3F4F6;
    /*--width-break: 600px;*/
}

body {
    margin: 0;
}

.heading {
    background-color: var(--primary-color);
}

.header-txt {
    text-align: center;
    padding: 0.5rem;
    font-size: xx-large;
    margin: 0px auto;
    color: var(--dark-blue);
}

#txt-input {
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    margin: 1rem 3rem;
    padding: 1rem;
}

.container {
    width: 800px;
    height: 20vh;
    margin: 0px auto;
}

.btn {
    width: 15rem;
    text-align: center;
    padding: 10px;
    margin: 20px 450px;
    height: 10vh;
    font-family: 'Gluten', cursive;
    border-color: var(--white);
    background-color: var(--primary-color);
    font-size: large;
    color: var(--dark-blue);
}

.section {
    text-align: center;
    padding: 1rem;
    width: 500px;
    margin: 0px 310px;
    height: 1rem;
    font-family: 'Gluten', cursive;
    color: var(--dark-blue);
}

.output {
    margin: 2rem 2rem;
    width: 80%;
    height: 10vh;
    padding: 1rem;
    border: 1px solid black;
    display: block;
    margin: auto;
}

.footer {
    background-color: var(--primary-color);
    color: var(--dark-blue);
    font-size: medium;
    /*padding: 1rem;*/
    margin: 0rem;
}

.footer-txt {
    text-align: center;
    padding-top: 2rem;
}